.git
.github
.vscode
.idea

node_modules
**/node_modules

apps/mobile
apps/web
docs
tests

secrets

**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

.env
.env.*
!.env.example

*.log
.DS_Store
