POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=diamond_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TS_IP=127.0.0.1
CADDY_DOMAIN=api.example.com
CADDY_EMAIL=admin@example.com
FIREBASE_SERVICE_ACCOUNT_PATH=/run/secrets/firebase_service_key
REDIS_PASSWORD=123
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
CACHE_DEFAULT_TTL_SEC=60
GRAFANA_ADMIN_PASSWORD=123
